<% if (page.type) { %>
<%- partial('partials/sidebar', {type: page.type, index: page.index}) %>
<% } else { %>
<div class="sidebar">
    <ul class="main-menu">
        <%- partial('partials/main_menu', {context: 'sidebar'}) %>
    </ul>
</div>
<% } %>
<div
    class="content <%- page.type ? page.type + ' with-sidebar' : '' %> <%- page.type === 'guide' ? page.path.replace(/.+\//, '').replace('.html', '') + '-guide' : '' %>">
    <% if (page.title.trim()) { %>
    <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
    <% } %>

    <%- page.content %>

    <div id="playground-example">

        <carousel-3d :count="slides.length" :controls-visible="carouselControls" :width="slideWidth"
                     :height="slideHeight" :autoplay="autoplayEnabled" :disable3d="disable3d"
                     :space="slideSpace" :perspective="slidePerspective" :display="visible" :loop="infinite"
                     :animation-speed="animationSpeed" :dir="direction" :border="slideBorder"
                     :start-index="startIndex"
                     :inverse-scaling="slideScaling">
            <slide v-for="(slide, i) in slides" :index="i" :key="i">
                <img :src="slide.src">
            </slide>
        </carousel-3d>

        <hr class="sep">

        <div class="row">
            <div class="col-1-2">
                <div class="form-input">
                    <label for="spaceInput">Slide space</label>
                    <input type="number" id="spaceInput" placeholder="Type number" v-model="slideSpace">
                </div>

                <div class="form-input">
                    <label for="widthInput">Slide width</label>
                    <input type="number" id="widthInput" placeholder="Type number" v-model="slideWidth">
                </div>
                <div class="form-input">
                    <label for="heightInput">Slide height</label>
                    <input type="number" id="heightInput" placeholder="Type number" v-model="slideHeight">
                </div>
                <div class="form-input">
                    <label for="borderInput">Slide border</label>
                    <input type="number" id="borderInput" placeholder="Type number" v-model="slideBorder">
                </div>
                <div class="form-input">
                    <label for="perspectiveInput">Slide perspective</label>
                    <input type="number" id="perspectiveInput" placeholder="Type number"
                           v-model="slidePerspective">
                </div>
                <div class="form-input">
                    <label for="scalingInput">Slide scaling</label>
                    <input type="number" id="scalingInput" placeholder="Type number"
                           v-model="slideScaling">
                </div>
            </div>

            <div class="col-1-2">
                <div class="form-input">
                    <button class="button" @click="addSlide">Add Slide</button>
                    <button class="button" @click="removeSlide">Remove Slide</button>
                </div>
                <div class="form-input">
                    <button class="button" @click="carouselControls = !carouselControls">Show/hide Navigation</button>
                </div>
                <div class="form-input">
                    <label for="visibleInput">Number of visible</label>
                    <input type="number" id="visibleInput" placeholder="Type number" v-model="visible">
                </div>
                <div class="form-input">
                    <label for="infiniteCheckbox">Infinite loop</label>
                    <input type="checkbox" id="infiniteCheckbox" v-model="infinite">
                </div>
                <div class="form-input">
                    <label for="disable3dCheckbox">Disable 3d</label>
                    <input type="checkbox" id="disable3dCheckbox" v-model="disable3d">
                </div>
                <!--<div class="form-input">-->
                    <!--<label for="autoplay">Autoplay</label>-->
                    <!--<input type="checkbox" id="autoplay" v-model="autoplayEnabled">-->
                <!--</div>-->
                <div class="form-input">
                    <label for="animationSpeedInput">Animation speed</label>
                    <input type="number" id="animationSpeedInput" placeholder="Type number" v-model="animationSpeed">
                </div>
                <div class="form-input">
                    <label for="dirSelect">Direction</label>
                    <select id="dirSelect" v-model="direction">
                        <option value="ltr">LTR</option>
                        <option value="rtl">RTL</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <% if (page.type === 'guide') { %>
    <div class="guide-links">
        <% site.pages.find({type: page.type, order: page.order - 1}).each(function (page) { %>
        <span>← <a href="<%- url_for(page.path) %>"><%- page.title %></a></span>
        <% }) %>
        <% site.pages.find({type: page.type, order: page.order + 1}).each(function (page) { %>
        <span style="float:right"><a href="<%- url_for(page.path) %>"><%- page.title %></a> →</span>
        <% }) %>
    </div>
    <% } %>

    <div class="footer">
        Released under the <a href="https://opensource.org/licenses/MIT" href="_blank">MIT License</a><br>
        Copyright &copy; <%- new Date().getFullYear() %> <a href="http://vladimirbujanovic.com/">Vladimir Bujanovic</a>
    </div>
</div>

<script type="text/javascript">


    new Vue({
        el: '#playground-example',
        components: {
            'carousel-3d': window['carousel-3d'].Carousel3d,
            'slide': window['carousel-3d'].Slide
        },
        data: {
            carouselControls: true,
            slideWidth: 360,
            slideHeight: 270,
            slideBorder: 1,
            slideSpace: 240,
            slidePerspective: 35,
            slideScaling: 300,
            animationSpeed: 500,
            startIndex: 0,
            autoplayEnabled: false,
            visible: 5,
            direction: 'rtl',
            infinite: true,
            disable3d: false,
            slides: [
                {
                    title: 'Slide 1',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, maxime.',
                    src: 'https://placehold.it/360x270'
                },
                {
                    title: 'Slide 2',
                    desc: 'Lorem ipsum dolor sit amet ',
                    src: 'https://placehold.it/360x270'
                },
                {
                    title: 'Slide 3',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. ',
                    src: 'https://placehold.it/360x270'
                },
                {
                    title: 'Slide 4',
                    desc: 'Lorem ipsum dolor sit amet,  Enim, maxime.',
                    src: 'https://placehold.it/360x270'
                },
                {
                    title: 'Slide 5',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, maxime.',
                    src: 'https://placehold.it/360x270'
                },
                {
                    title: 'Slide 6',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, maxime.',
                    src: 'https://placehold.it/360x270'
                },
                {
                    title: 'Slide 7',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, maxime.',
                    src: 'https://placehold.it/360x270'
                },
                {
                    title: 'Slide 8',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, maxime.',
                    src: 'https://placehold.it/360x270'
                },
                {
                    title: 'Slide 9',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, maxime.',
                    src: 'https://placehold.it/360x270'
                },
                {
                    title: 'Slide 10',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, maxime.',
                    src: 'https://placehold.it/360x270'
                }
            ]
        },
        methods: {
            addSlide () {
                this.slides.push({
                    title: 'Slide X',
                    desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, maxime.',
                    src: 'https://placehold.it/360x270'
                })
            },
            removeSlide () {
                this.slides.pop()
            }
        }
    });
</script>
